/* Nav */
#minav {
    background-color: #353a40;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#nav-logo {
    display: flex;
    align-items: center;
}

#minav a {
    color: white;
    font-size: x-large;
}

#logocac {
    width: 170px;
}



/* Bloque 1 Poster*/
#bloque1_img {
    background-image: url("imagenes_integrador_front/ba1.jpg");
    background-position: center;
    height: 80vh;
    padding: 0;
}

#bloque1_opacidad {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#bloque1_texto {
    width: 50%;
    text-align: end;
    padding-right: 10%;
}

#bloque1_texto h4 {
    font-weight: normal;
}

#bloque1_btn-1 {
    border: 1px solid white;
    margin-right: 2%;
}




/* Bloque 2 Oradores*/

.oradores-presentacion {
    text-align: center;
}

.oradores-presentacion h5, .card-text {
    font-weight: lighter;
}

.card {
    width: 390px;
    padding: 0;
}

.card img {
    height: 390px;
}
.card-body button {
    font-weight: bold;
}



/* Bloque 3 BsAs*/
#bsas {
    height: 600px;
}

#bsas-img {
    width: 50%;
    background-image: url(imagenes_integrador_front/honolulu.jpg);
    background-size: cover;
}

#bsas-texto {
    width: 50%;
    background-color: #353a40;
}



/* Bloque 4 Formulario*/
#oradores textarea, #oradores > button, #boton-submit {
    width: 98%;
    margin: 0 auto;
}

#oradores textarea {
    height: 125px;
}

#oradores-presentacion > p > span {
    text-decoration: underline;
    text-decoration-style: dotted;
}



/* Footer */
#mifooter { 
    margin: 0 auto;
    background-color: #1c3846;
}

#mifooter a {
    color: white;
}